/*
Main Colors:
Grey = #E0E0E0
Dark = #464040
Blue = #96B7C6
Green = #A5CDB3
Yellow = #E5D38B
Orange = #DF815B
red    = #FF6962
*/
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Play:400,700|Sonsie+One);

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	background-color: #96B7C6;
	font: 14px/20px 'Open Sans', sans-serif;
	font-weight: 400;
}
p{white-space:normal;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	color:#464040;
	text-decoration:none;
}
a:hover{
	text-shadow:1px 1px 0 #E0E0E0;
	text-decoration:none;
}
pre, textarea {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
}
/* End CSS Reset */


html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
table{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top:10px;
	margin-bottom:10px;
	table-layout:fixed;
}
tr { height:1em;  }
tr:nth-of-type(odd) { 
  background: #F9F9F9; 
}
.hover_tr:hover{
	background: #F4F1E7; 
}
th {
	color:#FFF;
	font-size:16px;
	font-weight:700;
	height:15px;
	padding-left:3px;
	padding-right:5px;
	padding-bottom:1px;
	text-align:left;
	text-shadow:1px 1px 0 #464040;
	background:#A5CDB3;
	overflow:hidden;
	white-space:nowrap;	
}
td {
	padding-left:3px;
	color:#464040; 
    overflow:hidden;
	white-space:nowrap;
	vertical-align:top;	
}

.wrapper {
	background:#E5D38B;
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	height: auto !important;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 110px;
	background: #96B7C6;
}
.header h1{
	font-family: 'Sonsie One', cursive;
	font-size: 4em;
	color:#fff;
	padding-top: 24px;
	padding-left: 15px;
	text-shadow:1px 1px 0 #464040;
}
.header h1 em{
	font-size:12px;
	vertical-align:top;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 5px 300px 0 5px;
	text-shadow:1px 1px 0 #fff;
}
.content_wrap {
	background:#fff;
	width:100%;
	padding: 10px;
	height: 100%;
	min-height: 300px;
	height: auto !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:5px;
}
.content_wrap p {
	padding-left:5px;
}
.content h1 {
	font-family: 'Play', cursive;
	font-weight:700;
	font-size: 2em;
	color:#96B7C6;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:5px;
	border-bottom:1px dashed #DF815B;
	text-shadow:1px 1px 0 #464040;
}
.content h1 a {
	text-decoration:none;
	color:#96B7C6;
	text-shadow:1px 1px 0 #464040;
}
.content h1 a:hover {
	color:#96B7C6;
	text-shadow:1px 1px 0 #707070;
}
/* Sidebar
-----------------------------------------------------------------------------*/
.sidebar {
	float: right;
	width: 40%;
	min-width:150px;
	max-width:263px;
	margin-left: -100%;
	position: relative;
	background: #A5CDB3;
	padding:18px 5px 5px 5px;
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
}
.sidebar h1 {
	font-family: 'Play', cursive;
	font-weight:700;
	font-size: 2em;
	color:#fff;
	padding-bottom:3px;
	border-bottom:1px dashed #DF815B;
	text-shadow:1px 1px 0 #464040;
	white-space:nowrap;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 auto 0;
	margin-bottom:0px;
	width:100%;
	height: 50px;
	background: #DF815B;
	position:relative;
    bottom:0;
}
.footer p{
	text-align:center;
	font-weight: 700;
	color:#fff;
	padding-bottom:3px;
}
.footer a{
	text-decoration:none;
	color:inherit;
}
.footer a:hover{
	color:#96B7C6;
	text-shadow:none;
	
}
/* Component Styling */
/* Navigation
-----------------------------------------------------------------------------*/
#nav ul {
	clear:both;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	text-shadow: 1px 1px 0px white;
	margin-top:30px;
	background-color: #DF815B;
	height:24px;;
}
#nav ul li { 
	display: inline;
	font-family: 'Play', cursive;
	font-weight:700;
	font-size: 1.2em;
}
#nav ul li a {
	text-decoration: none;
	padding: .3em .9em;
	color: #464040;
	background-color: #E0E0E0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-color:#DF815B;
	border-width: 1px;
	
}
#nav ul li a:hover {
	color: #fff;
	background-color: rgb(75, 75, 75);
	text-shadow: 1px 1px 0px black;
}
#search_form{
	padding:5px;
	margin-bottom:5px;
}
.login_form_button, .search_button {
	margin-top:-2px;
	margin-left:-5px;
	padding-top: 3px !important;
	padding-right: 3px !important;
	padding-bottom: 3px !important;
	padding-left: 3px !important;
	border:0;
	-webkit-border-radius:0px 3px 3px 0;
	-moz-border-radius:0px 3px 3px 0;
	border-radius:0px 3px 3px 0;
	font-weight:bold;
	background:#DF815B !important;
    box-shadow: inset 0px 0px 8px rgba(255,255,255, .5);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
.search_input{
	border:0;
	padding:5px;
	font-weight:bold;
	background:#fff;
	margin-bottom:0px;
	color: #96B7C6;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	width:80%;
}
.nowrap{
	white-space:nowrap;
}
/* Media querys
-----------------------------------------------------------------------------*/
/* Tablet Devices Resizing */
@media screen and (min-width:760px) and (max-width: 945px) {
	#nav ul li{font-size: 17px;}
	.sidebar{display:none;}
	.content{width:96.5%;}
	.wrapper{width:99%;}
}
@media screen and (min-width:760px) and (max-width: 850px) {
	#nav ul li{font-size: 15px;margin-top:1px;;}
	#nav ul{padding-top:0px;;}
	.sidebar{display:none;}
	.content{width:96.5%;}
	.wrapper{width:99%;}
}
/* Small Devices Resizing */
@media screen and (max-width: 760px) {
	#nav ul li{font-size: 20px;padding:0;margin:0;height:100%;width:100%;}
	#nav ul{height:100%;width:95.5%;padding:0 !important;}
	#nav ul li a {width:99.0%;margin:0;display:inline-block;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
	.content{ width:95%;padding: 5px;}
	.content_wrap{padding-top: 5px;}
	.sidebar{display:none;}
	.wrapper{width:95%;}
	.middle{margin-top:100px;}
}
/* Sizing stepdowns */
@media screen and (max-width: 720px) {
	.header h1{font-size: 3.6em!important;}
}
@media screen and (max-width: 715px) {
	#nav ul li a {width:99.2%;}
}
@media screen and (max-width: 710px) {
	#nav ul li a {width:99.1%;}
	.header h1{font-size: 3.4em!important;}

}
@media screen and (max-width: 705px) {
	#nav ul li a {width:98.8%;}
}
@media screen and (max-width: 675px) {
	#nav ul li a {width:99%;}
	.header h1{font-size: 3.2em!important;}
}
@media screen and (max-width: 650px) {
	#nav ul {width:93.4%;padding:0 !important;}
	#nav ul li a {width:100%;}
	.header h1{font-size: 3em!important;}

	.footer{height:55px;}
}
@media screen and (max-width: 580px) {
	#nav ul {width:93.2%;padding:0 !important;}
	#nav ul li a {width:100%;}
	.header h1{font-size: 2.8em!important;}
	.content{width:490px;padding-bottom:0px}
	.wrapper{width:520px;}
	.footer{height:75px;}
}
@media screen and (max-width: 550px) {
	#nav ul {width:92.7%;padding:0 !important;}
	#nav ul li a {width:100%;}
	.header h1{font-size: 2.5em!important;}
	.content{width:460px;padding-bottom:0px}
	.wrapper{width:490px;}
	.footer{height:75px;}
}
@media screen and (max-width: 510px) {
	#nav ul {width:91.2%;padding:0 !important;}
	#nav ul li a {width:100%;}
	.header h1{font-size: 2em!important;}
	.content{width:370px;padding-bottom:0px}
	.wrapper{width:400px;}
	.footer{height:75px;}
}
@media screen and (max-width: 480px) {
	#nav ul {width:88.2%;padding:0 !important;}
	#nav ul li a {width:99.6%;}
	.header h1{font-size: 1.4em!important;}
	.content{width:270px;}
	.wrapper{width:300px;}
	.footer{height:75px;}
	.content h1{font-size: 1.7em!important;}
}